# TRAINING PART

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.calibration import CalibratedClassifierCV
from sklearn.preprocessing import StandardScaler, Normalizer
from sklearn.pipeline import make_pipeline
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFECV
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

from string import ascii_letters
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler

In [2]:
#Importing the csv to Jupyter Notebook
training_df = pd.read_csv("../input/diamonds-datamad0120/diamonds_train.csv")
training_df.head()

   id  carat      cut color clarity  depth  table     x     y     z  price
0   0   0.78  Premium     F     VS1   61.5   58.0  5.93  5.98  3.66   3446
1   1   0.31    Ideal     D     SI1   60.8   56.0  4.37  4.32  2.64    732
2   2   0.30    Ideal     F     SI1   62.3   54.0  4.30  4.34  2.69    475
3   3   1.04    Ideal     E    VVS2   62.0   58.0  6.54  6.46  4.03   9552
4   4   0.65    Ideal     J     SI1   61.4   55.0  5.58  5.62  3.44   1276

In [3]:
# set the id column as index
training_df.set_index('id', inplace=True)

In [29]:
X = training_df.drop(columns=['carat', 'cut', 'color', 'clarity', 'depth', 'table'])
y = training_df['price']

In [30]:
pipeline = [MinMaxScaler(feature_range=(0, 1))]
tr = make_pipeline(*pipeline)
Xpr1 = tr.fit_transform(X)
Xpr1 = pd.DataFrame(Xpr1)

In [31]:
rf_reg = RandomForestRegressor(n_estimators=300, max_depth=30)

In [32]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(Xpr1, y, test_size=0.2, random_state=42)

In [33]:
rf_reg.fit(X_train1, y_train1)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=30, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [34]:
rf_reg.feature_importances_

array([2.45674569e-08, 2.33954053e-08, 2.57934458e-08, 9.99999926e-01])

In [35]:
print(rf_reg.score(X_train1, y_train1))
print(rf_reg.score(X_test1, y_test1))

0.9999999934924252
0.9999999602792127

In [36]:
print('*** METRIC SUMMARY ***')
print('MSE', mean_squared_error(y_test1, rf_reg.predict(X_test1)))
print('RMSE', np.sqrt(mean_squared_error(y_test1, rf_reg.predict(X_test1))))
print('MSLE', mean_squared_log_error(y_test1, rf_reg.predict(X_test1)))
print('MAE', mean_absolute_error(y_test1, rf_reg.predict(X_test1)))
print('R2', r2_score(y_test1, rf_reg.predict(X_test1)))

*** METRIC SUMMARY ***
MSE 0.6223703143718676
RMSE 0.7889045026946339
MSLE 4.25482049441346e-08
MAE 0.30639319205189247
R2 0.9999999602792127

# TEST PART

In [37]:
#Importing the csv to Jupyter Notebook
test_df = pd.read_csv("../input/diamonds-datamad0120/diamonds_test.csv")
test_df.head()

   id  carat      cut color clarity  depth  table     x     y     z
0   0   1.10  Premium     H     SI2   62.2   58.0  6.69  6.60  4.13
1   1   0.51    Ideal     I     SI1   62.5   57.0  5.07  5.10  3.18
2   2   2.03  Premium     G     SI1   61.9   59.0  8.14  8.09  5.02
3   3   1.21  Premium     F     SI1   60.0   60.0  6.96  6.91  4.16
4   4   0.55    Ideal     F     SI1   61.8   55.0  5.27  5.22  3.24

In [38]:
test_df.set_index('id', inplace=True)

In [45]:
X_test = test_df.drop(columns=['carat', 'cut', 'color', 'clarity', 'depth', 'table'])
X_test.head()

       x     y     z
id
0   6.69  6.60  4.13
1   5.07  5.10  3.18
2   8.14  8.09  5.02
3   6.96  6.91  4.16
4   5.27  5.22  3.24

In [51]:
pipeline = [MinMaxScaler(feature_range=(0, 1))]
tr = make_pipeline(*pipeline)
Xpr_test = tr.fit_transform(X_test)
Xpr_test = pd.DataFrame(Xpr_test)

In [52]:
Xpr_test

              0         1         2
0      0.653959  0.649606  0.129874
1      0.495601  0.501969  0.100000
2      0.795699  0.796260  0.157862
3      0.680352  0.680118  0.130818
4      0.515152  0.513780  0.101887
...         ...       ...       ...
13444  0.427175  0.433071  0.082704
13445  0.519062  0.525591  0.101887
13446  0.385142  0.389764  0.076101
13447  0.419355  0.424213  0.083019
13448  0.516129  0.521654  0.102201

[13449 rows x 3 columns]

In [56]:
y_pred = rf_reg.predict(Xpr_test)

ValueError: Number of features of the model must match the input. Model n_features is 4 and input n_features is 3